@font-face {
    font-family: 'Enoki';
    src: url(fonts/NotoSans-Black.ttf);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Enoki2';
    src: url(fonts/NotoSans-ExtraLightItalic.ttf);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
html{
    height: 100%;
}
body{
    background:linear-gradient(#212121,rgb(0, 0, 0));
}
.main{
    height: 100vh;
    width: 100vw;
    max-width: 1400px;
    min-width: 600px;
    max-height: 900px;
    min-height: 400px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
}
.card{
    width: 300px;
    height: 400px;
    background: #000000;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 60px 60px -60px rgb(255, 255, 255);
    transition: box-shadow 2s;
    overflow: hidden;
}
.card:hover .border{
    opacity: 1;
    background: rgba(0,0,0,0.6);
}
.card:hover{
    box-shadow: 0 0px 40px -0px rgb(255, 255, 255);
}
.border{
    width: 296px;
    height: 396px;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    display: inline-block;
    border-radius: 15px;
    border: 2px solid #fff;
    transition: 0.7s linear;
    opacity: 0;
    z-index: 1;
    /*     position: relative;  */
}
.image{
    border-radius: 15px;
    width: 300px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.img1{
    background:url(img/img1.jpg) center ;
    background-size: 100%;
}
.img2{
    background:url(img/img2.jpg) center ;
    background-size: 100%;
}
.img3{
    background:url(img/img3.jpg) center ;
    background-size: 100%;
}

.text{
    z-index: 2;
    font-size: 22px;
    color: #fff;
    position: relative;
    text-align: left;
    margin:16px 20px;
    font-family: 'Enoki';
    opacity: 0;
    transition: 1s;
}
.under-text{
    font-family: 'Enoki2';
    z-index: 2;
    font-size: 16px;
    color: #fff;
    position: relative;
    text-align: left;
    margin:34px 30px;
    opacity: 0;
    transition: 1s;
}
.card:hover .text{
    opacity:1;
}
.card:hover .under-text{ 
    opacity:1;
}
A:link{
    text-decoration: none;
}
h1{
    color: #fff;
    font-family: "Enoki";
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    filter: drop-shadow(5px 5px 5px 5px #fff);
}